body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
}

h1 {
  background-color: #f68b1e;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #f68b1e;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

form {
  margin: 10px 0;
}

label {
  margin: 10px 0;
}

input[type="radio"] {
  margin-right: 10px;
}
